* {
	font: Arial;
}

body {
	background-color: #353535;
}

.container {
	width: auto;
	height: auto;
	padding: 5px;
	background-color: white;
	margin: auto;
	border-radius: 15px;
	box-shadow: 5px 5px 10px #7d7d7d;
}

.container footer {
	line-height: 30px;
}

h1 {
	text-align: center;
	color: rgb(76, 93, 207);
}

p {
	color: black;
}

.introduction {
	color: black;
	text-align: center
}
