
/* General */

* {
    font-family: 'Roboto', sans-serif;
    color: #cdd6f4;
}

body {
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #181825;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
  }

input, select, option, textarea {
    color: black;
    margin: 10px;
    max-width: 300px;
    max-height: 300px;
    border: 3px solid rgb(105, 22, 22);
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
  
label, input, textarea{
    margin-bottom: 10px;
  }

/* Navigation Bar */

.topnav {
    overflow: hidden;
    background-color: #181825;
    width: fit-content;
    border-radius: 15px;
    position: fixed;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.topnav a {
    display: inline-flex;
    color: #cdd6f4;
    padding: 13px 13px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #89b4fa;
    color: #11111b;
}

@media (max-width: 767px) {
    .topnav {
        width: 90%;
        margin-top: 10px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .topnav a {
        display: block;
        padding: 10px 0;
        font-size: 13px;
    }
}


/* Primary content */

.content {
    display: grid;
    place-items: center;
    padding-top: 50px;
}

.content h1 {
    font-size: 60px;
}
