
/* General */

* {
    font-family: 'Roboto', sans-serif;
    color: #cdd6f4;
}

body {
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #181825;
}

body::-webkit-scrollbar {
    display: none;
  }

/* Navigation Bar */

.topnav {
    overflow: auto;
    background-color: #18182599;
    backdrop-filter: blur(8px);
    width: fit-content;
    border-radius: 15px;
    position: fixed;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.topnav a {
    display: inline-flex;
    color: #cdd6f4;
    padding: 13px 13px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #89b4fa;
    color: #11111b;
}

@media (max-width: 767px) {
    .topnav {
        width: 90%;
        margin-top: 10px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    .topnav a {
        display: block;
        padding: 10px 0;
        font-size: 13px;
    }
}

/* Primary content */

.content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.content h1 {
    font-size: 50px;
}

.content p {
    font-size: 25px;
}

#servicos td {
    text-align: center;
}